<div id="carousel" class="col-sm-12 pull-right carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner firefox-width-fix" role="listbox">
        <div class="item active">
            <img class="center" src="_imgs/orange-leaves.jpg" alt="Blue stars of mountain">
        </div>
        <div class="item">
            <img class="center" src="_imgs/orange-sunset.jpg" alt="Snowy mountain tops">
        </div>
        <div class="item">
            <img class="center" src="_imgs/orange-trees.jpg" alt="Cold artic lakeside">
        </div>
    </div>
</div>
<div class="col-xs-12" id="bottom_container">
    <div ng-include src="'_includes/projects-nav.html'"></div>
    <div class="col-sm-8 project-body">
        <h2><a href="http://adincath.bitbucket.org/sa/" target="_blank">Sigma Alpha Test Site</a></h2>
        <hr>
        <h3><strong>Description:</strong></h3>
        <p>I created this page to represent the Sigma Alpha Sorority Beta Theta chapter at the University of Tennessee at Martin because I found that their previous was out of date.</p>
        <p>I mainly would like to make this site editable with WYSIWYG and CMS platform so that the members will be able to edit their pages without requiring external help while also maintaining a level of security to prevent XSS and other types of security exploits</p>

        <p>I am also using Angular JS specifically for the SPA aspects to more efficiently serve pages out to viewers on the website. I should also be able to to use the controllers to better serve pages quicker.</p>

        <div class="col-sm-6">
            <h3><strong>Components:</strong></h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Twitter Bootstrap</li>
                <li>Angular JS</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3><strong>Future Plans:</strong></h3>
            <ul >
                <li>Improve Styling</li>
                <li>Finish Over All Design of Sub Pages</li>
                <li>Allow a Type of CMS for Client</l
            </ul>
        </div>        

        </div><!-- /.project-body -->
        
    </div><!-- /#bottom_container -->
</div>