<div id="carousel" class="col-sm-12 pull-right carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner firefox-width-fix" role="listbox">
        <div class="item active">
            <img class="center" src="_imgs/orange-leaves.jpg" alt="Blue stars of mountain">
        </div>
        <div class="item">
            <img class="center" src="_imgs/orange-sunset.jpg" alt="Snowy mountain tops">
        </div>
        <div class="item">
            <img class="center" src="_imgs/orange-trees.jpg" alt="Cold artic lakeside">
        </div>
    </div>
</div>
<div class="col-xs-12" id="bottom_container">
    <div ng-include src="'_includes/projects-nav.html'"></div>
    <div class="col-sm-8 project-body">
        <h2><a href="http://adincath.bitbucket.org/Road%20Safety%20Webpage/" target="_blank">Soybean Road Quiz</a></h2>
        <hr>
        <h3><strong>Description:</strong></h3>
        <p>I was recommended to a professor to create a quiz type web page to test younger students on their knowledge of road safety in the context of farming equipment.</p>
        <p>The site strictly uses JavaScript and jQuery to change the content of the page. To store the results, I am using JavaScript to package the results of the quiz into a JSON object and using a quick PHP write to a file to store the results.</p>
        <p>As far as the professor's wants are concerned, I am finished with this project, but their are a few responsiveness quirks that I would like to fix and provide to the client</p> 
        <div class="col-sm-6">
            <h3><strong>Components:</strong></h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>jQuery UI</li>
                <li>PHP</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3><strong>Future Plans:</strong></h3>
            <ul >
                <li>Better Responsiveness</li>
                <li>UI for Stored Results</li>
            </ul>
        </div>
    </div>
    <!-- /.project-body -->
</div>
<!-- /#bottom_container -->