<div id="carousel" class="col-sm-12 pull-right carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner firefox-width-fix" role="listbox">
        <div class="item active">
            <img class="center" src="_imgs/orange-leaves.jpg" alt="Blue stars of mountain">
        </div>
        <div class="item">
            <img class="center" src="_imgs/orange-sunset.jpg" alt="Snowy mountain tops">
        </div>
        <div class="item">
            <img class="center" src="_imgs/orange-trees.jpg" alt="Cold artic lakeside">
        </div>
    </div>
</div>
<div class="col-xs-12" id="bottom_container">
    <div ng-include src="'_includes/projects-nav.html'"></div>
    <div class="col-sm-8 project-body">
        <h2><a href="http://adincath.bitbucket.org/" target="_blank">The Directory</a></h2>
        <hr>
        <h3><strong>Description:</strong></h3>
        <p>I created this site as a place to compile a list of resources for me and others. I also use this site to link to my other projects, thus the name "The Directory."</p>
        <p>I particularly proud of the navigation bar of this site. It took a lot of work to get Bootstrap and Angular JS to play nice because of some of the anchors tags used typically in Bootstrap's Nav component. Otherwise I love the comment section because of the communication between a viewer and me.</p>
        <div class="col-sm-6">
            <h3><strong>Components:</strong></h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>CSS3 Animations</li>
                <li>Twitter Bootstrap</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Angular JS</li>
                <li>PHP</li>
                <li>JSON</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3><strong>Future Plans:</strong></h3>
            <ul >
                <li>Social Media Links</li>
                <li>Working Slide Show</li>
                <li>More Dynamic Web Pages</li>
            </ul>
        </div> 
        </div><!-- /.project-body -->
        
    </div>
    <!-- /#bottom_container -->