<div id="carousel" class="col-sm-12 pull-right carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner firefox-width-fix" role="listbox">
        <div class="item active">
            <img class="center" src="_imgs/orange-leaves.jpg" alt="Blue stars of mountain">
        </div>
        <div class="item">
            <img class="center" src="_imgs/orange-sunset.jpg" alt="Snowy mountain tops">
        </div>
        <div class="item">
            <img class="center" src="_imgs/orange-trees.jpg" alt="Cold artic lakeside">
        </div>
    </div>
</div>
<div class="col-xs-12" id="bottom_container">
    <div ng-include src="'_includes/projects-nav.html'"></div>
    <div class="col-sm-8 project-body">
        <h2><a href="http://www.utm.edu/students/broabect/ToDo/" target="_blank">To Do List</a></h2>
        <hr>
        <h3><strong>Description:</strong></h3>
        <p>The To Do projects will allow someone to create a simple persistent "To Do" list. More importantly for me, this provides a basic CRUD platform for me to expand upon as I continue to work on the project.</p>
        <p>I originally created this project to keep all of my other projects on track. I hope to use this web app in future projected to mitigate problems with work flow and deadlines.</p>
        <div class="col-sm-6">
            <h3><strong>Components:</strong></h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Twitter Bootstrap</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>PHP</li>
                <li>mySQL</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3><strong>Future Plans:</strong></h3>
            <ul >
                <li>Better Styling</li>
                <li>Sub Objectives</li>
                <li>User Based Lists</li>
            </ul>
        </div>
    </div>
    <!-- /.project-body -->
</div>
<!-- /#bottom_container -->