
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HelpDesk</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Email Scrubber</a></li>
              <li><a href="#">MAC Finder</a></li>
              <li><a href="#">Anti-Virus</a></li>
              <li><a href="#">Find and Mount</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="http://www.utm.edu/students/broabect">Directory <span class="sr-only">(current)</span></a></li>

            </ul>
          </div><!--/.nav-collapse -->
      </nav>
