﻿#utilities {
	color: #FFF;
    display:inline-block;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    vertical-align: bottom;
}

#about {
    background: url(../_imgs/about_slice.jpg) 50% 0 fixed;
    height: auto;
    margin: 0; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
    width: 100%; 
}

#about h3, #strip h3, #philanthropy h3 {
	font-size: 40px;
}


#banner{
	width: 100em;
}

body{
	background-color: rgba(0, 0, 0, 0.22);
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 100%;

}

.container{
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#events {
    background: url(../_imgs/events_slice.jpg) 50% 0 fixed;
    height: auto;
    margin: 0; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
    width: 100%; 
}

#footer{
	margin-bottom: 35px;
	margin-top: 35px;
}
#footer-icon{
	text-shadow: 0px 9px 9px rgba(150, 150, 150, 1);
}

h1, h2, h3, p{
	font-family: 'Open Sans', sans-serif;
}

hr{
	color: #000;
}

.jumbotron {
    background: #FFF url("../_imgs/charles_yager.jpg") center center;
	background-size: cover;
    height: 500px;
	margin-bottom: 0px;
	overflow: hidden;
    position: relative;
    width: 100%;
}

.jumbotron h1{
	color: rgba(249,255,0,01);
	font-size: 300px;
	margin: 0px;
	text-shadow: 7px 6px green;

}

.jumbotron h2{
	color: #FFF;
	font-size: 40px;
	margin: 0px;

}

#jumbotron_parallax { 
    background: url(../_imgs/charles_yager.jpg) 50% 0 fixed; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
}

	
#main_container{
	background-color: #FFF;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 50px;
	min-height: 90vh;
	overflow: auto;
	padding: 10px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus{
	background-color: #060; 
	color: #FFF;
}

.nav-pills>li.active>a:hover{
	background-color: #060; 
	color: #000;
}

p{
	font-size: 17px;
	line-height: 30px;
}

#social-links{
	font-size: 27px;
	padding: 0;
}

#strip #social-links{
	font-size: default;
}

#social-links p {
	font-size: 17px;
}


#strip{
	-webkit-box-shadow: inset 0px 4px 66px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 4px 66px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 4px 66px 0px rgba(0,0,0,0.75);
	margin: auto;
	min-height: 400px;
	padding: 5vh;
}

#strip-parallax{
	-webkit-box-shadow: inset 0px 4px 66px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 4px 66px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 4px 66px 0px rgba(0,0,0,0.75);
	margin: auto;
	min-height: 400px;
	padding: 5vh;
}

#vertical_align{
    vertical-align: top;
}

#upcoming-events{
	background-color: #FFF;
	border-radius: 5px;
	padding: 5px;
}
#vertical-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

@media screen and (max-width: 438px){
	.jumbotron h1{
		font-size: 150px;
	}
}	

@media screen and (max-width: 768){
	#main_container{
		margin-top: 19px;
	}
}

@media screen and (max-width: 992px){
	#strip-parallax{
		-webkit-box-shadow: inset 0px 4px 66px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 4px 66px 0px rgba(0,0,0,0.75);
		box-shadow: inset 0px 4px 66px 0px rgba(0,0,0,0.75);
		margin: auto;
		min-height: 400px;
		padding: 5vh;;
	}	
}

/***************  About Page ***************/
#about-nav{
	border-radius: 5px;	
	/* Matches the height about the image on about page */
	margin-top: 69px;
}
#about-nav li{

}
