<nav class="navbar navbar-inverse navbar-static-top" ng-controller="navController" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggleInit" ng-class= "flipped ? 'toggleNormal' : 'toggleFlipped'"ng-click="toggleFlipped()" data-toggle="collapse" data-target="#navigationbar" id="navbarToggle" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>            </button>
            <a class="navbar-brand pull-left" ng-class="{ active: isActive('/index')}"  ng-click="collapseNav()"href="#/index">The Directory</a>
        </div>
        <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav ">
                <ul class="nav navbar-collapse text-center" ng-class="{'nav-pills' : stackNav()}">
                    <li ng-click="collapseNav()" ng-class="{ active: isActive('/newTodo')}"><a href="#/newTodo">newTodo</a>
                    </li>
                    <li role="presentation" ng-click="collapseNav()" ng-class="{ active: isActive('/editTodo')}"><a href="#/viewTodo">viewTodo</a>
                    </li>
                </ul>             
            </ul>
        </div>
        <!-- /.navbar-collapse  -->
    <!-- /.container-fluid -->
</nav>