    <!-- New Todo Form -->
    <h1> Create a New To-Do List </h1>
    <hr>
    <!-- <form action="http://localhost/broabect/ToDo/_php/newTodoProcess.php" method="get"> -->
    <form action="newTodoProcess.php" method="get">
      <h3>Title of ToDo List</h3>
      <input type="text" name="todoTitle">
      <h3>Due Date of Project</h3>
      <input type="date" name="todoDate">

      <div ng-repeat="i in getTotalobj() track by $index">
        <h3>{{$index+1}}: Objective</h3>
        <input type="text" name="todoObj[]">
        <br>
      </div>
      <button type="button" class="btn btn-success" ng-click="addObjective()">Add Objective</button>
      <br>
      <br>
      <br>
      <input class="btn btn-primary" type="submit">
    </form>