<!-- Editing a ToDo form -->
<h1> View a To-Do List </h1>
<hr>
<form action="_php/editTodoProcess.php" action="get">
  <p>ToDo Group</p>
  <select name="todoTitle">
    <option name="{{todoLists.title}}" ng-value="{{todoLists.title}}" ng-repeat="todoList in todoLists">
      {{todoList.title}}
    </option>
  </select>
  <br>
  <input class="btn btn-primary" type="submit" action="">
</form>