<div class="col-sm-12 pull-right firefox-width-fix">
    <img class="center" src="_imgs/orange-trees.jpg" alt="Blue stars of mountain">
</div>
<div class="col-xs-12" id="bottom_container">
    <div ng-include src="'_includes/projects-nav.html'"></div>
    <div class="col-sm-8 project-body">
        <h2>Welcome to the Projects</h2>
        <p>This is a culmination of all of the personal projects that I am working on.</p>
        <p>Listed with the project is a description of some of the things I liked or learned while working on the project. Also, listed are the components that were used and some of the future implementations I hope to complete for the project.</p>
    </div><!-- /.project-body -->
</div><!-- /#bottom_container -->