<div class="col-sm-12 pull-right firefox-width-fix">
    <img class="center" src="_imgs/larrychen.jpg" alt="Pine forest overlooking lake">
</div>

<div ng-include src="'_includes/main-right-projects.html'"></div>

<div class="col-sm-8 col-xs-12" id="bottom_container">
    <h2>Resources</h2>
    <uib-tabset class="resources">
        <uib-tab heading="General Programming">
            <ul>
                <li><a href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md" target="_blank">Free Programming Books</a>
                </li>
                <li><a href="http://code.tutsplus.com/courses/perfect-workflow-in-sublime-text-2" target="_blank">Sublime Text Tutorials</a>
                </li>
                <li><a href="http://www.generatedata.com/" target="_blank">Data Generator</a>
                </li>
            </ul>
        </uib-tab>
        <uib-tab heading="Web Development">
            <div class="col-md-6">
                <ul>
                    <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>
                    </li>
                    <li><a href="https://angularjs.org/" target="_blank">AngularJS</a>
                    </li>
                    <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a>
                    </li>
                    <li><a href="http://jsbooks.revolunet.com/" target="_blank">WebDev Books</a>
                    </li>
                    <li><a href="http://www.postgresql.org/download/" target="_blank">PostgreSQL</a>
                    </li>
                    <li><a href="https://angularjs.org/" target="_blank">AngularJS</a>
                    </li>
                </ul>
            </div>
        </uib-tab>
        <uib-tab heading="Python">
            <ul>
                <li><a href="http://pythonbooks.revolunet.com/" target="_blank">Python Books</a>
                </li>
            </ul>
        </uib-tab>
    </uib-tabset>
</div>
<!-- /#bottom_container -->
</script>