<div class="col-sm-12 pull-right firefox-width-fix">
    <img class="center" src="_imgs/juskteezvu.jpg" alt="Blue stars of mountain">
</div>

<div ng-include src="'_includes/main-right-projects.html'"></div>

<div class="col-sm-8 col-xs-12" id="bottom_container">
    <h2>Utilities</h2>
    <uib-tabset class="resources">
        <uib-tab heading="Anti-Virus">
            <ul>
                <li><a href="https://www.malwarebytes.org/" target="_blank">Malawarebytes</a></li>
                <li><a href="https://www.malwarebytes.org/mac-download/" target="_blank">Malawarebytes for Macintosh (Adware Medic)</a></li>
                <li><a href="http://www.superantispyware.com/" target="_blank">SUPERAntiSpyware</a></li>
                <li><a href="https://toolslib.net/downloads/viewdownload/1-adwcleaner/" target="_blank">ADW Cleaner</a></li>
            </ul>
        </uib-tab>
        <uib-tab heading="Computer Software">
            <ul>
                <li><a href="https://www.piriform.com/ccleaner/download" target="_blank">CCleaner</a>
                </li>
                <li><a href="https://www.piriform.com/recuva" target="_blank">Recuva</a>
                </li>
                <li><a href="https://www.piriform.com/speccy" target="_blank">Speccy</a>
                </li>
            </ul>
        </uib-tab>
        <uib-tab heading="Computer Programming">
            <ul>
                <li><a href="http://www.collabedit.com" target="_blank">Collabedit</a>
                </li>
                <li><a href="https://www.diffchecker.com/" target="_blank">DiffChecker</a>
                </li>
            </ul>
        </uib-tab>
    </uib-tabset>
</div>
<!-- /#bottom_container -->