<!-- Carousel -->
<div class="col-sm-12  firefox-width-fix">
    <img class="center" src="_imgs/cappucino.jpg" alt="Cappucino with leaf design in foam">
</div>

<!-- Bottom Container -->
<div class="col-md-8 col-xs-12" id="bottom_container">
    <p>This is The Directory for utilities, resources, and projects. If you are looking for for helpful texts or documentations consider look at the <a href="#/resources">resources</a>. If you are needing particular software such as anti-virus or on line web apps consider going to the <a href="#/utilities">utilities</a>.If you would like to see some of the work I've down or on going work you will want to visit the <a href="#/projects">projects</a> area.</p>
    <p><em>By hosting on Bitbucket, I am unable to run any server side scripts. So no comments for the time being on this page, but I am trying to migrate hosting to the UTM server for the projects that require server side scripts and database tables.</em></p>
</div>
<div ng-include src="'_includes/main-right-projects.html'"></div>
<div class="clearfix" ng-include src="'_includes/comment_section.html'"></div>
