 body{
    background: url(../_imgs/background.jpg); 
 }
 a{
	text-decoration: none;
}

#about_parallax { 
    background: url(../sa/_imgs/about2.jpg)  0 fixed; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
}

#banner{
	width: 100em;

}

body{
	background-color: rgba(0, 0, 0, 0.22);
	padding-left: 15vw;
	padding-right: 15vw;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.container{
	background-color: white;
	border: 0px;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
	height: 80%;
	margin: 0px;
	padding: 0px;
	padding-top: 10%;
	width: 100%;
}

#glyphs_main {
    font-size: 10em;
}

h1, h2, h3, p{
	font-family: 'Open Sans', sans-serif;

}
h3{

	color: #006600;
	font-size: 2em;

}

.jumbotron h1{
	color: #B8D9F5;
	font-size: ;
	margin: 0px;
	text-shadow: 5px 3px black;

}

.jumbotron h2{
	color: #000;
	font-size: 40px;
	margin: 0px;

}

.jumbotron { 
    height: 70%;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
}

#left-list li{
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
}

.nav{
	background-color: #424242;

}

#right-image{
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
}


#strip{
	margin: auto;
	padding: 5vw;

}

