<!-- Projects Main Right -->
<div id="main-right" class="col-md-4 hidden-sm hidden-xs pull-right">
    <hr>
    <h3 class="text-center"><a href="#/projects">Projects</a></h3>
    <hr>
    <ul id="primary_links">
        <li><a href="#/the-directory">The Directory</a>
        </li>
        <li><a href="#/todo">ToDo List</a>
        </li>
        <li><a href="#/road-quiz">Soybean Road Safety Quiz</a>
        </li>
    </ul>
</div>