<nav class="projects-nav navbar navbar-default visible-xs-block">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target" aria-expanded="false">
                <span class="sr-only">asdf</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/projects">Projects</a>
        </div>
        <div class="collapse navbar-collapse" id="target">
            <ul class="nav navbar-nav">
                <li ng-click="collapseNav()"><a href="#/the-directory">The Directory</a>
                </li>
                <!--<li ng-click="collapseNav()"><a href="#/todo">To Do List</a></li>-->
                <li ng-click="collapseNav()"><a href="#/road-quiz">Soybean Road Safety Quiz</a>
                </li>
                <li ng-click="collapseNav()"><a href="#/sa"> Sigma Alpha Test Site</a>
                </li>
                <li ng-click="collapseNav()"><a href="#/memeGen">Meme Generator</a>
                </li>
                <!--<li ng-click="collapseNav()"><a href="#/helpdesk">HelpDesk Utilities</a></li>
                <li ng-click="collapseNav()"><a href="#/breakout">Break-Out</a></li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="col-xs-4 hidden-xs" id="projects-nav">
    <ul>
        <li ng-click="collapseNav()"><a href="#/the-directory">The Directory</a>
        </li>
        <!--<li ng-click="collapseNav()"><a href="#/todo">To Do List</a></li>-->
        <li ng-click="collapseNav()"><a href="#/road-quiz">Soybean Road Safety Quiz</a>
        </li>
        <li ng-click="collapseNav()"><a href="#/sa"> Sigma Alpha Test Site</a>
        </li>
        <li ng-click="collapseNav()"><a href="#/memeGen">Meme Generator</a>
        </li>
        <!--<li ng-click="collapseNav()"><a href="#/helpdesk">HelpDesk Utilities</a></li>
        <li ng-click="collapseNav()"><a href="#/breakout">Break-Out</a></li>-->
    </ul>
</div>