		 
			<div id="main_container" class="row" ng-controller="adminController">
			 <div  class="col-lg-12">
	     		<h1>Administrator</h1>
					<div   class="col-md-12">
						  <div id="utilities" class="col-md-4">
								<a href="#"><i  class="fa fa-pencil-square-o fa-5x"></i></a>                
						  </div>					  
						  <div id="utilities" class="col-md-4">
								<a href="#"><i  class="fa fa-calendar-plus-o fa-5x"></i></a>                
						  </div>					  
						  <div id="utilities" class="col-md-4">
								<a href="#"><i  class="fa fa-hand-lizard-o fa-5x"></i></a>                
						  </div>

					</div>	

			</div> 
		</div>