

    <div id="main_container">
        <h1>Contact Us</h1>
        <div class="col-md-7">
            <form name="contactForm" action="_php/contactProcess.php" method="POST">
              <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Email" required name="userEmail">
              </div>
              <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Full Name" required name="userName">
              </div>
              <div class="form-group">
                <label for="dateInput">Date</label>
                <input type="text" class="form-control" id="dateInput" name="userDate" disabled>
              </div>
              <div class="form-group">
                <div class="form-group">
                <label for="suggestionInput">Question</label>
                  <textarea class="form-control" rows="5" id="suggestionInput" name="userSuggestion" placeholder="Enter your question"></textarea>
                </div>
              </div>    
              <div class="g-recaptcha" data-sitekey="6LenUA8TAAAAAGrGMTWi_s6Ksa7vlipPsDLwBZB4"></div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-5">
            <h2>How to submit</h2>
            <p>In order to submit a suggestion, you will have to include:</p>
            <ul>
                <li>A Valid Email</li>
                <li>A Name</li>
                <li>A Question about UTM or Sigma Alpha</li>
            </ul>
            <p>You should use this form to:</p>
            <ul>
                <li>Request the additional information</li>
            </ul>            
        </div>
    </div>
