<div id="main_container" class="row" ng-controller="philanthropyController">
    <div  class="col-lg-11">
        <div id="about-nav" class="col-sm-3">
            <div ng-include="'_includes/about-nav.html'"></div>
        </div>
        <div class="col-sm-9">
            <h1>Events</h1>
            <img class="img-responsive" src="_imgs/philanthropy.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum non turpis vitae commodo. Phasellus non lobortis sem, eu scelerisque odio. In porttitor sit amet mi at suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed semper felis at dolor efficitur, eget lacinia quam lobortis. Maecenas eleifend et tortor sit amet dignissim. Nulla magna erat, sollicitudin in lacus posuere, euismod ornare odio. Vivamus dolor mi, ullamcorper ac eleifend eu, lacinia non nunc. Etiam ultrices velit feugiat, cursus metus at, aliquam lacus. Aenean sodales nunc sit amet massa ornare placerat. Quisque sodales ex mauris, in placerat mauris tempus a. Donec commodo felis at pretium bibendum.</p>
            <p>Morbi porta, dolor id pellentesque pellentesque, metus dolor bibendum justo, non bibendum enim mi eu justo. Suspendisse urna nulla, semper cursus diam et, venenatis sagittis sapien. Nam eget dolor nisl. Duis sed nisl lorem. Sed eget lectus consectetur, fermentum lectus non, condimentum urna. Pellentesque in consequat neque, ac fringilla nisi. Etiam erat metus, luctus a scelerisque sit amet, tincidunt eget nunc. Nullam facilisis, orci venenatis sagittis dapibus, metus magna vulputate urna, eu dictum turpis neque a metus. Phasellus dapibus ex id tortor aliquam imperdiet. Pellentesque sed arcu at ante vulputate ultrices. Fusce quis gravida leo. Ut nec massa elit.
            </p>
        </div>
    </div>
</div>
<div ng-include="'_includes/main-footer.html'"></div>
