<div id="main_container" class="row" ng-controller="philanthropyController">
    <div  class="col-lg-11">
        <div id="about-nav" class="col-sm-3">
            <div ng-include="'_includes/about-nav.html'"></div>
        </div>
        <div class="col-sm-9">
            <h1>Frequently Asked Questions</h1>
            <img class="img-responsive" src="_imgs/philanthropy.jpg">
            <div class="col-sm-6">
                <ul>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                    <li>Question?</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-include="'_includes/main-footer.html'"></div>
