<div id="main_container" class="row" ng-controller="philanthropyController">
    <div  class="col-lg-11">
        <h1>Gallery</h1>
        <div id="instafeed"></div>
    </div>
</div>
<div ng-include="'_includes/main-footer.html'"></div>
