<div id="main_container" class="row" ng-controller="membersController">
    <div  class="col-lg-11">
        <div id="about-nav" class="col-sm-3">
            <div ng-include="'_includes/about-nav.html'"></div>
        </div>
       	<div  class="col-sm-9">
			<h1>EC</h1>
			<table class="table">
				<tr >
					<th class="text-center">Name</th>
					<th class="text-center">Title</th>
					<th></th>
				</tr>
				<tr class="text-center" ng-repeat="member in EC" >
					<td><span> {{ member.name }} </span></td>
					<td><span> {{ member.title }} </span></td>
					<td><img class="center-block" ng-src="{{ member.headshot }}" alt="{member.name }}"> </span></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div ng-include="'_includes/main-footer.html'"></div>
