			<div id="jumbotron_parallax" class="jumbotron">
				<h1 id="jumbotron-text" class="text-center" >&Sigma; &Alpha;</h1>
				<h2 id="jumbotron-text" class="text-center">Beta Theta</h2>
			</div>
			
			<!-- start of area below jumbotron -->
			
			    <!-- Nav Slice -->
				<div id="strip" class="row"  ng-controller="indexController">
					  <div class="col-sm-4 text-center"ng-repeat="part in page">
						<a ng-href="#/{{part.url}}"><img class="img-circle .hidden-xs" ng-src="_imgs/{{part.img}}"></a>
						<h3>{{part.title}}</h3>
						<p>{{part.short_desc}}</p>
					  </div>
				</div>
				
				<!-- About Slice -->
				<div id="about" class="row parallax">
					  <div class="col-md-8 text-center">
						<h3 >About</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id fermentum urna, sed sollicitudin metus. Donec nec ullamcorper nibh. Curabitur suscipit, libero quis ornare elementum, tortor felis scelerisque magna, quis dignissim magna magna tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id fermentum urna, sed sollicitudin metus. Donec nec ullamcorper nibh. Curabitur suscipit, libero quis ornare elementum, tortor felis scelerisque magna, quis dignissim magna magna tempus ante</p>
					  </div>
					 
					  <div class="col-md-4 text-center">
						<a href="http://www.sigmaalpha.org/" target="_blank"><img class="img-thumbnail" src="_imgs/SA_logo.jpg"></a>
					  </div>            
				</div>
				

				<!-- Philanthropy Slice -->
				<div id="strip-parallax" class="row">
					  <div class="col-sm-6 text-center">
					   <img class="img-thumbnail" src="_imgs/heifer_international.gif">
						<h3 class="text-center">About</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id fermentum urna, sed sollicitudin metus. Donec nec ullamcorper nibh. Curabitur suscipit, libero quis ornare elementum, tortor felis scelerisque magna, quis dignissim magna magna tempus ante.</p>
					  </div>
					  <div class="col-sm-6 text-center">
						<img class="img-thumbnail" src="_imgs/logo-mobile850px.png"> 
						<h3>Events</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id fermentum urna, sed sollicitudin metus. Donec nec ullamcorper nibh. Curabitur suscipit, libero quis ornare elementum, tortor felis scelerisque magna, quis dignissim magna magna tempus ante.</p>
					  </div>
				</div>
								
				<!-- Events Slice -->
				<div id="events" class="row">
					  <div class="col-md-4 text-center">
						<img class="img-thumbnail" src="_imgs/flower.jpg"> 
					  </div>
					  <div class="col-md-8 text-center">
						<h3>Events</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id fermentum urna, sed sollicitudin metus. Donec nec ullamcorper nibh. Curabitur suscipit, libero quis ornare elementum, tortor felis scelerisque magna, quis dignissim magna magna tempus ante.</p>
					  </div>

				</div>
				
				<!-- Footer Slice -->
				<div id="strip-parallax" class="row">
					  <div class="col-sm-4 text-center">
					    <i class="fa fa-university fa-5x"></i>
						<h3 class="text-center">UTM</h3>
						<p><a href="http://www.utm.edu/" target="_blank">UTM Website</a></p>
						<p><a href="http://www.utm.edu/departments/greeklife/" target="_blank">UTM Greeklife</a></p>
					  </div>
					  <div class="col-sm-4 text-center">
					    <i class="fa fa-comments fa-5x"></i>
						<h3 class="text-center">Contact Us</h3>
						<div class=id="social-links">
							<p><a href="https://www.facebook.com/Sigma-Alpha-Beta-Theta-195276097150295/timeline/" target="_blank"><i id="social-links" class="fa fa-facebook-square fa-lg"></i> - Facebook</a></p>
							<p><a href="https://www.facebook.com/Sigma-Alpha-Beta-Theta-195276097150295/timeline/" target="_blank"><i id="social-links" class="fa fa-twitter-square fa-lg"></i> - Twitter</a></p>
							<p><a href="https://www.facebook.com/Sigma-Alpha-Beta-Theta-195276097150295/timeline/" target="_blank"><i id="social-links" class="fa fa-instagram fa-lg"></i> - Instagram</a></p>
						</div>
					  </div>
					  <div class="col-sm-4 text-center">
					    <i class="fa fa-cog fa-5x"></i>
						<h3 class="text-center">UTM</h3>
						<p><a href="#admin" target="_blank">Administrator</a></p>
					  </div>
				</div>
				
         </script>