ul#b-grid
{
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	width: 100%;
}
#b-grid li
{
	display: inline-block;
	margin-bottom: 2.5%;
	margin-left: 2.5%;
	padding: 0;
}
#b-grid.columns-2 li
{
	width: 45.5%;
}
#b-grid.columns-2 li:nth-child(n+1)
{
	margin: 0 2.5% 2.5% 0;
}
#b-grid.columns-3 li
{
	width: 30.5%;
}
#b-grid.columns-3 li:nth-child(3n+1)
{
	margin: 0 0 2.5% 0;
}
#b-grid.columns-4 li
{
	width: 22.5%;
}
#b-grid.columns-4 li:nth-child(4n+1)
{
	margin: 0 0 2.5% 0;
}
@media (max-width: 1000px)
{
	ul#b-grid li
	{
		width: 45.5% !important;
	}
	#b-grid.columns-2 li:nth-child(n+1)
	{
		margin: 0 2.5% 2.5% 0;
	}
	#b-grid.columns-3 li:nth-child(n+1)
	{
		margin: 0 2.5% 2.5% 0;
	}
	#b-grid.columns-4 li:nth-child(n+1)
	{
		margin: 0 2.5% 2.5% 0;
	}
}
@media (max-width: 800px)
{
	ul#b-grid li
	{
		width: 100% !important;
	}
	#b-grid.columns-2 li:nth-child(n)
	{
		margin: 0 0 2.5% 0;
	}
	#b-grid.columns-3 li:nth-child(n)
	{
		margin: 0 0 2.5% 0;
	}
	#b-grid.columns-4 li:nth-child(n)
	{
		margin: 0 0 2.5% 0;
	}
}