 body{
    background: url(../_imgs/background.jpg); 
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
 }
 #desc-textarea{
 	height: 20vh;
 	resize: none;
 	width: 46vw;
 }
 #unEditForm{
 	display: auto;
 }
 #EditForm, #DeleteForm{
 	display: none;
 }
 .home-thumbnail{
 	border-color: black;
    border-radius: 10px;
    color: black;
 	height: 28vh;
 	text-decoration: none;
 }
 .home-thumbnail:hover{
 	color: black;
 	text-decoration: none;
 }
 #main-container{
 	background-color: #FFF;
 	border-radius: 10px;
 	float: none;
 	margin: auto;
 	min-height: 83vh;
 	min-width: 50vw;
 	padding: 20px;
 }
 #editTodoToggle{
 	padding: 5px;
 }
 #toggleLabel{
 	padding-right: 10px;
 }

 .linkThumbnails{
 	font-size: 10em;
 }