<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggleInit" data-toggle="collapse" data-target="#navigationbar" id="navbarToggle" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>            
            </button>
            <a class="navbar-brand pull-left" href="index.php">To-Do-Er</a>
        </div><!-- /.navbar-header  -->

        <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav text-center">
                    <li><a href="newTodo.php">newTodo</a></li>
                    <li><a href="viewTodo.php">viewTodo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><div  id="signin-button" class="g-signin2" data-onsuccess="onSignIn"></div></li>
            </ul>
        </div> <!-- /.collapse navbar-collapse -->
</nav>