﻿@media only screen and (min-width: 1024px) {
	.center{
		text-align:center;
	}
	#false_toggle{
	
		display:none; /* ths display will be changed at the priming of the quiz */
		height:60px;
		width:142px;
		font-size:36px;
		float:right;
		margin-right:30vw;
		margin-top:auto;
		border-radius:15px;
		background-color:white;
		box-shadow: 0 25px 25px -15px black;
		cursor:pointer;

	}
	#false_toggle p{
		
		margin-top:0px;
	
	}
	#footer{
		position:fixed;
		bottom:-150px;
		display: block;
		width:100%;
		height:180px;
		margin-right: auto;
		margin-left: auto;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		cursor:pointer;
		color:black;
		background-color:#FFFFFF;	
	}
	#half-column1{
		float: left;
		width:49%	
		
	}
	#half-column2{
	
		float: right;
		width:49%	
		
	}
	#half-column-center{
	
		margin-left: auto;
		margin-right:auto;
		width:49%	
		
	}
	/* Gets rid of the html, body margins  and sets background image*/
	html, body{
		width:100%;
		height:100%;
		margin: 0;
		padding: 0;
		background-color:black;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background: url("../_imgs/background.jpg") no-repeat center center ; 	
	}
	img{
	
		border-radius:15px;
	
	}
	p{

		font-family: Tahoma, Geneva, sans-serif;
		margin:auto;
		
	}
	.progress_bar{
		width:100%;
		background-color:green;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		border: 0;  
		border-color:white; 

	}
	#progress_bar{
		width:100%;
		background-color:green;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		border: 0;  
		border-color:white; 

	}	
	/* Using this container to position Question and True and False Toggles */
	#quiz_text_container{

		/* Positioning */
		width:100%;
		margin-top:0px;


	}	
	
	/* 
		question id will be used for Question
		Sets font height of Question text
		Positions Question text

	*/
	#quiz_text_container #question{

		font-size:20px;
		padding-top:150px;
		padding-bottom:36px;

	}
	
	#quiz_text_container #question_text{
		width:60%;
		
		padding:5px;
		border-radius:15px;
		background-color:#FFF;
		cursor:pointer;
		box-shadow: 0 20px 15px -15px black;
	}
	
	#quiz_text_container #question_text_start{
		font-size:20px;
		background-color:#FFF;
		width:60%;
		
		padding:5px;
		border-radius:15px;
		background-color:#FFF;
		
		box-shadow: 0 20px 15px -15px black;
	
	}
	
	#quiz_text_container #question_image{
	
		padding-top:80px;
		padding-bottom:80px;
	
	}
	
	#quiz_text_container #question_image img{
	

		height:215px;
		width:215px;
		border-radius:15px;
		box-shadow: 0 20px 15px -15px black;
		margin-bottom:80px;
	
	}
	
	#quiz_text_container #question_image p{
	

		height:200px;
		width:215px;
		margin-top:60px;
		vertical-align:middle;
		padding-top:20px;
		background-color: #FFF;
		border-radius:15px;
		box-shadow: 0 20px 15px -15px black;
	
	}
	.slide-up
	{
		bottom: 0px !important;
	}

	.slide-down
	{
		bottom: -150px !important;
	}	
	#sources{
		margin-left:auto;
		margin-right:auto;
		padding-top:30px;
		width: 100%;
	}
	#sources p{
	
		text-align: center;
		font-family: Tahoma, Geneva, sans-serif;
	}
	.stats{
		background-color:white;
		border-radius:20px;
		height:80vh;
		margin: auto;
		margin-top:20px;
		padding: 10px;
		width:80%;
	}
	
	.stats #progress_bar{
		width: 100%; 
	}

	#true_toggle{
		
		display:none; /* ths display will be changed at the priming of the quiz */
	
		height:60px;
		width:142px;
		font-size:36px;
		float:left;
		margin-left:30vw;
		border-radius:15px;
		background-color:white;
		box-shadow: 0 25px 25px -15px black;
		
		cursor:pointer;

	}
	#true_toggle p{
		
		margin-top:0px;
	
	}

}
@media only screen and (max-width: 1024px) {

	.stats{
		background-color:white;
		border-radius:20px;
		height:80vh;
		margin-top:20px;
		width:80%;
	}
	
	.stats progress{
		
		margin: 5%;
	}	/* Gets rid of the html, body margins */
	html,body{
		height:100%;
		margin: 0;
		padding: 0;
		background-color:#BFBFBF;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background: url("../_imgs/background.jpg") no-repeat center center ; 	
	}

	p{

		font-family: Tahoma, Geneva, sans-serif;
		margin:auto;
		
	}
	
	img{
	
		border-radius:15px;
	
	}
	
	#progress_bar{
		width:100%;
		background-color:green;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		border: 0;  
		border-color:white; 

	}
	/* Positions a container to the middle of the screen with max width */
	.main_container{

		height:98.5vh;
		width:100%;

	}

	/* Using this container to position Question and True and False Toggles */
	#quiz_text_container{

		/* Positioning */
		width:100%;
		height:;
		margin-top:0px;

	}	
	
	/* 
		question id will be used for Question
		Sets font height of Question text
		Positions Question text

	*/
	#quiz_text_container #question{

		font-size:20px;
		padding-top:100px;
		padding-bottom:36px;

	}
	
	#quiz_text_container #question_text{
		width:60%;
		
		padding:5px;
		border-radius:15px;
		background-color:#FFF;
		
		box-shadow: 0 20px 15px -15px black;
	}
	
	#quiz_text_container table{
		
		margin-top:150px;
		background-color:#FFF;
		border-radius:15px;
		padding:8px;
		border-spacing: 0;
		
	}
	
	#quiz_text_container td{
		
		padding-left:5px;
		padding-right:15px;
	}
	
	#quiz_text_container #question_text_start{
		font-size:20px;
		background-color:#FFF;
		width:60%;
		
		padding:5px;
		border-radius:15px;
		background-color:#FFF;
		
		box-shadow: 0 20px 15px -15px black;
	
	}
	
	#quiz_text_container #question_image{
	
		padding-top:80px;
		
	
	}
	
	#quiz_text_container #question_image img{
	

		height:215px;
		width:215px;
		border-radius:15px;
		box-shadow: 0 20px 15px -15px black;
		margin-bottom:80px;
		
	}

	#quiz_text_container #question_image p{
	

		height:180px;
		width:215px;
		margin-top:60px;
		vertical-align:middle;
		padding-top:20px;
		background-color: #FFF;
		border-radius:15px;
		box-shadow: 0 20px 15px -15px black;
	
	}	
	
	#true_toggle{
	
		display:none; /* ths display will be changed at the priming of the quiz */

	
		height:60px;
		width:142px;
		font-size:36px;
		float:left;
		margin-left:15vw;
		margin-top:auto;
		border-radius:20px;
		background-color:white;
		box-shadow: 0 25px 25px -15px black;
		cursor:pointer;
	}
	
	#true_toggle p{
		
		margin-top:0px;
	
	}
	
	#false_toggle{
	
		display:none; /* ths display will be changed at the priming of the quiz */
	
		height:60px;
		width:142px;
		font-size:36px;
		float:right;
		margin-right:15vw;
		margin-top:auto;
		border-radius:20px;
		background-color:white;
		box-shadow: 0 25px 25px -15px black;
		cursor:pointer;

	}
	#false_toggle p{
		
		margin-top:0px;
	
	}
	
	.slide-up
	{
		bottom: 0px !important;
	}

	.slide-down
	{
		bottom: -150px !important;
	}	
	#sources{

		padding:30px;

	}
	#sources p{
	
		text-align: center;
		
	}
#footer{
		text-align: center;	
		position:fixed;
		bottom:-150px;
		width:100%;
		height:180px;
		margin-top:150px;
		
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		cursor:pointer;
		color:black;
		background-color:#FFFFFF;	

	}

		
}
@media only screen and (max-width: 700px) {
	.stats{
		background-color:white;
		border-radius:20px;
		height:80vh;
		margin-top:20px;
		width:80%;
	}
	
	.stats progress{
		
		margin: 5%;
	}		/* Gets rid of the html, body margins */
	html,body{
		height:100%;
		margin: 0;
		padding: 0;
		background-color:#BFBFBF;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background: url("../_imgs/background.jpg") no-repeat center center ; 	
	}

	p{

		font-family: Tahoma, Geneva, sans-serif;
		font-size:20px;
		margin:0px;
		
	}
	
	#progress_bar{
		width:100%;
		background-color:green;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		border: 0;  
		border-color:white; 

	}
	/* Positions a container to the middle of the screen with max width */
	.main_container{

		height:100%;
		width:100%;

	}

	/* Using this container to position Question and True and False Toggles */
	#quiz_text_container{

		/* Positioning */
		width:100%;
		height:98.5vh;


	}
	
	/* 
		question id will be used for Question
		Sets font height of Question text
		Positions Question text

	*/
	#quiz_text_container #question{

		font-size:36px;
		padding-top:80px;
		padding-bottom:10px;

	}
	
	#quiz_text_container #question_text{

		background-color:#FFF;
		width:90%;
		
		padding:5px;
		border-radius:15px;
		background-color:#FFF;
	}
	
	#quiz_text_container #question_image{
	
		padding-top:80px;
	
	}

	#quiz_text_container #question_image img{
	
		width:25%;
		height: 25%;
	
		border-radius:15px;
		box-shadow: 0 20px 15px -15px black;
		margin-bottom:80px;
	
	}

	#quiz_text_container #question_image p{
	

		height:180px;
		width:215px;
		vertical-align:middle;
		padding-top:20px;
		background-color: #FFF;
		border-radius:15px;
		box-shadow: 0 20px 15px -15px black;
	
	}
	#true_toggle{
		height:30px;
		width:80px;
		font-size:36px;
		float:left;
		margin-top:20px;
		box-shadow: 0 08px 30px black;
		background-color:white;
		cursor:pointer;
		
	}

	#false_toggle{
		height:30px;
		width:80px;
		font-size:36px;
		float:right;
		margin-top:20px;
		box-shadow: 0 08px 30px black;
		background-color:white;
		cursor:pointer;

	}
	#false_toggle p{
		
		margin-top:0px;
	
	}
	.slide-up
	{
		bottom: 0px !important;
	}

	.slide-down
	{
		bottom: -150px !important;
	}	
	#sources{

		padding:30px;

	}
	#sources p{
	
		text-align: center;
		
	}
#footer{
		text-align: center;	
		position:fixed;
		bottom:-150px;
		width:100%;
		height:180px;
		margin-top:150px;
		
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		cursor:pointer;
		color:black;
		background-color:#FFFFFF;	

	}
}
@media only screen and (max-width: 480px) {
	.stats{
		background-color:white;
		border-radius:20px;
		height:80vh;
		margin-top:20px;
		width:80%;
	}
	
	.stats progress{
		
		margin: 5%;
	}		/* Gets rid of the html, body margins */
	html,body{
		height:100%;
		margin: 0;
		padding: 0;
		background-color:#BFBFBF;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background: url("../_imgs/background.jpg") no-repeat center center ; 	
	}

	p{

		font-family: Tahoma, Geneva, sans-serif;
		font-size:15px;
		margin:0px;
		
	}
	
	#progress_bar{
		width:100%;
		background-color:green;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		border: 0;  
		border-color:white; 

	}
	/* Positions a container to the middle of the screen with max width */
	.main_container{

		height:110%;
		width:100%;

	}

	/* Using this container to position Question and True and False Toggles */
	#quiz_text_container{

		/* Positioning */
		width:100%;
		height:98.5vh;
		margin-top:0px;


	}
	
	/* 
		question id will be used for Question
		Sets font height of Question text
		Positions Question text

	*/
	#quiz_text_container #question{

		font-size:36px;
		padding-top:10px;
		padding-bottom:10px;

	}
	
	#quiz_text_container #question_text{

		background-color:#FFF;
		width:90%;
		
		border-radius:15px;
		background-color:#FFF;
		box-shadow: 0 14px 14px -12px black;
	}
	
	#quiz_text_container #question_image{
	
		padding-top:75px;
	
	}

	#quiz_text_container #question_image img{
	
		width:25%;
		height: 25%;
	
		border-radius:15px;
		box-shadow: 0 20px 15px -15px black;
		margin-bottom:80px;
	
	}

	#quiz_text_container #question_image p{
	

		height:180px;
		width:215px;
		vertical-align:middle;
		padding-top:20px;
		background-color: #FFF;
		border-radius:15px;
		box-shadow: 0 20px 15px -15px black;
	
	}
	#true_toggle{
		height:30px;
		width:80px;
		font-size:36px;
		float:left;
		box-shadow: 0 08px 30px black;
		background-color:white;
		cursor:pointer;

	}
	#true_toggle p{
		
		margin-top:5px;
	
	}
	#false_toggle{
		height:30px;
		width:80px;
		font-size:36px;
		float:right;
		box-shadow: 0 08px 30px black;
		background-color:white;
		cursor:pointer;


	}
	#false_toggle p{
		
		margin-top:5%;
	
	}
	.slide-up
	{
		bottom: 0px !important;
	}

	.slide-down
	{
		bottom: -150px !important;
	}	
	#sources{

		padding:30px;

	}
	#sources p{
	
		text-align: center;
		
	}
	#footer{
		text-align: center;	
		position:fixed;
		bottom:-150px;
		width:100%;
		height:180px;
		margin-top:150px;
		
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		cursor:pointer;
		color:black;
		background-color:#FFFFFF;	

	}
}
