 body{
    background: url(../_imgs/background.jpg); 
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
 }
 #main-container{
 	background-color: #FFF;
 	border-radius: 10px;
 	float: none;
 	margin: auto;
 	min-height: 83vh;
 	min-width: 50vw;
 	padding: 20px;
 }