<nav class="nav navbar-default nav-pills visible-xs-block">
    <div class="container-fluid">
         <div id="projects-nav" class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target" aria-expanded="false">
            <span class="sr-only">asdf</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="target">
            <ul class="nav navbar-default">
                <li ng-click="collapseNav()"><a href="#/faq">FAQ</a></li>
                <li ng-click="collapseNav()"><a href="#/philanthropy">Philanthropy</a></li>
                <li ng-click="collapseNav()"><a href="#/events">Events</a></li>
                <li ng-click="collapseNav()"><a href="#/members">Members</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="nav nav-default hidden-xs">
    <div class="container-fluid">
        <div id="projects-nav">
            <ul class="nav navbar-default">
                <li ng-click="collapseNav()"><a href="#/faq">FAQ</a></li>
                <li ng-click="collapseNav()"><a href="#/philanthropy">Philanthropy</a></li>
                <li ng-click="collapseNav()"><a href="#/events">Events</a></li>
                <li ng-click="collapseNav()"><a href="#/members">Members</a></li>
            </ul>
        </div>
    </div>
</nav>