<div id="footer" class="row" style="text-shadow: 0px 5px 6px rgba(150, 150, 150, 1);">
  <div class="col-xs-4 text-center">
    <i class="fa fa-university fa-5x"></i>
    <h3 class="text-center">UTM</h3>
    <p><a href="http://www.utm.edu/" target="_blank">UT Martin</a></p>
    <p><a href="http://www.utm.edu/departments/greeklife/" target="_blank">UTM Greeklife</a></p>
  </div>
  <div class="col-xs-4 text-center">
    <i class="fa fa-comments fa-5x"></i>
    <h3 class="text-center">Contact Us</h3>
    <div class=id="social-links">
      <span>
        <a href="https://www.facebook.com/Sigma-Alpha-Beta-Theta-195276097150295/timeline/" target="_blank"><i  class="fa fa-facebook-square fa-lg"></i></a>
      </span>
      <span>
        <a href="https://www.facebook.com/Sigma-Alpha-Beta-Theta-195276097150295/timeline/" target="_blank"><i  class="fa fa-instagram fa-lg"></i></a>
      </span>
      <span>
        <a href="#/contact" target="_blank"><i  class="fa fa-envelope-o fa-lg"></i></a>
      </span>
    </div>
  </div>
  <div class="col-xs-4 text-center">
    <i class="fa fa-cog fa-5x"></i>
    <h3 class="text-center">UTM</h3>
    <p><a href="#admin" target="_blank">Adminstrator</a></p>
  </div>
</div>