<nav ng-controller="navController" class="nav navbar-inverse navbar-fixed-top"  role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#index" ng-click="collapseNav();">&Sigma; &Alpha; </a>
    </div>
    <div class="collapse navbar-collapse" id="navigationbar">
      <ul class="nav navbar-nav text-center">
        <li ng-class="{ active: isActive('/about')}" ng-click="collapseNav();"><a href="#about">About</a></li>
        <li ng-class="{ active: isActive('/recruitment')}" ng-click="collapseNav();"><a href="#members">Recruitment</a></li>
        <li ng-class="{ active: isActive('/gallery')}" ng-click="collapseNav();"><a href="#gallery">Gallery</a></li>
        <li class="visible-xs-block" style="margin: 15px;">
          <span ng-click="collapseNav();" >
            <a href="https://www.facebook.com/Sigma-Alpha-Beta-Theta-195276097150295/timeline/" target="_blank"><i id="social-links" class="fa fa-facebook-square fa-lg"></i></a>
          </span>
          <span ng-click="collapseNav();">
            <a href="https://www.instagram.com/utm_sigmaalpha/" target="_blank"><i id="social-links" class="fa fa-instagram fa-lg"></i></a>
          </span>
          <span ng-click="collapseNav();" >
            <a href="#/contact"><i id="social-links" class="fa fa-envelope-o fa-lg"></i></a>
          </span>        
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right text-center hidden-xs">
        <li ng-click="collapseNav();" ><a href="https://www.facebook.com/Sigma-Alpha-Beta-Theta-195276097150295/timeline/" target="_blank"><i id="social-links" class="fa fa-facebook-square fa-lg"></i></a></li>
        <li ng-click="collapseNav();" ><a href="https://www.instagram.com/utm_sigmaalpha/" target="_blank"><i id="social-links" class="fa fa-instagram fa-lg"></i></a></li>
        <li ng-click="collapseNav();" ><a href="#/contact"><i id="social-links" class="fa fa-envelope-o fa-lg"></i></a></li>        
      </ul>
    </div>
  </div>
</nav>